[submodule "misskey-assets"]
	path = misskey-assets
	url = https://github.com/misskey-dev/assets.git
[submodule "fluent-emojis"]
	path = fluent-emojis
	url = https://github.com/misskey-dev/emojis.git
[submodule "blobmoji"]
	path = blobmoji
	url = https://github.com/m-hayabusa/blobmoji.git
[submodule "noto-emoji"]
	path = noto-emoji
	url = https://github.com/googlefonts/noto-emoji.git
